$content_wide: 850px;
$content_narrow: 600px;
$bright_teal: rgba(0, 125, 164, 0.3);
$brightest_teal: rgb(204, 229, 237);
$middle_teal: rgba(0, 125, 164, 0.7);
$dark_teal: #007da4;
$smartphone: 767px;

